---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Astro SPA">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro SPA</span></h1>
		<p class="instructions">
			To give an SPA effect to your Astro application we have used <a class="font-bold text-gradient" href="https://turbo.hotwired.dev/" target="_blank" rel="noopener noreferrer">Turbo</a> by Hotwired
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/earth"
				title="Earth"
				body="Planet Earth, our home so dear, A place of wonder, year after year, With oceans vast and mountains high, And endless beauty under the sky."
			/>
			<Card
				href="/mars"
				title="Mars"
				body=" In the darkness of space, so far and wide, There's a planet that beckons with crimson pride, Its name is Mars, the Red Planet we know, A world of wonder, with secrets to show."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
